<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <div class="collapse navbar-collapse" id="collapsibleNavId">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
           <li>
            <img src="assets/Images/chezNous.png" width="40" height="40" />
           </li>
            <li class="nav-item active">
                <a class="nav-link" routerLink='/acceuil'>acceuil</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" routerLink='/informatique'>informatique</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" routerLink='/contact'>contact</a>
            </li>
           
        </ul>
        
    </div>
</nav>